.app-container {
  background: url('../assets/wallpaper.jpg');
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #4d004d;
  text-shadow: 1px 1px 2px #fff;
  padding: 20px;
}

main {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 15px;
  border: 3px solid #ffb3e6;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}